$navbar-background-color: rgb(255, 171, 64);

$color1: rgb(254, 173, 66);
$color2: rgb(56, 29, 42);
$color3: rgb(62, 105, 144);
$color4: rgb(170, 189, 140);
$color5: rgb(233, 227, 180);

@import '~bulma';
