/* ========================= 
    NavBar 
========================= */
.c-language-selector {
    @apply pl-6 relative;
}

.c-language-menu {
    @apply overflow-hidden;
    top: 36px;
    right: -20px;
    max-height: 0;
    animation: full-height-500 0.4s 1 ease-in-out both;
}

.c-language-selector:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    left: 0;
    background-position: center;
    background-size: contain;
    background-image: url(../images/icons/language-selector.svg);
}

/* ========================= 
    List Card 
========================= */
@media (min-width: 1024px) {

    .c-list-card:hover {
        transform: translateY(-5px);
        box-shadow: 3px 7px 12px #e4e4e4;
    }
  
}